/* Colors
As hex codes */
.color-normal { background-color: #90ee90; }
.color-dark { background-color: #1aa51a; }
.color-light {background-color: #a7f1a7; }
.color-very-light { background-color: #d3f8d3; }

body {
    font-family: Arial, Helvetica, sans-serif;
}

div.textfield {
    padding: 5px;
    overflow: auto;
    white-space: break-spaces;
}

#cardcontainer {
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
}

#fileSelector {
    display: none;
}

.prototype {
    display: none;
}

.card-title {
    flex: 2;
}

.card-meta-data {
    flex: 2;
}

.card {
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid black;
}

.card-row {
    display: flex;
    width: 100%;
}

.card-description {
    border-top: 1px solid black;
    width: 100%;
}

.filler-cell {
    width: 100%;
}

.double-row {
    grid-row: span 2;
}

.double-col {
    grid-column: span 2;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}


table.inventory-small th:last-child, table.inventory-small td:last-child,
table.inventory th:last-child, table.inventory td:last-child,
table.inventory-large th:last-child, table.inventory-large td:last-child,
table.inventory-extra-large th:last-child, table.inventory-extra-large td:last-child {
    width: 3em;
}
table.inventory-small td {
    height: 10em;
}

table.inventory td {
    height: 20em;
}

table.inventory-large td {
    height: 30em;
}

table.inventory-extra-large td {
    height: 40em;
}

@media screen {
    body {
        background-color: #333;
        color: #eee;
    }

    button, select {
        border-width: 0;
        background-color: #90ee90;
    }
    button:hover, select:hover {
        background-color: #d3f8d3;
    }

    button.remove-card {
        background-color: #ee9090 !important;
    }

    button.remove-card:hover {
        background-color: #f8d3d3 !important;
    }

    button.export-card {
    }

    select {
        float: right;
    }

    .card {
        box-shadow: -2px 4px 2px 2px rgba(0, 0, 0, 0.4);
    }

    .card-toolbar {
        background-color: #010105;
    }

    #help {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    #help #help-text {
        visibility: hidden;
        width: max-content;
        background-color: #1aa51a;
        color: #fff;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        top: 125%;
        margin-left: -80px;
        box-shadow: -4px 8px 3px 2px rgba(0, 0, 0, 0.4);
    }

    #help #help-text::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 10%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

    #help .show {
        visibility: visible !important;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
    }
}

@media print {
    body {
        font-size: 11pt;
    }
    button, select {
        display: none;
    }

    .card {
        page-break-after: auto;
        page-break-inside: avoid;
    }

    .card-toolbar, #help, .card-border-styler {
        display: none;
    }
}
