/* Colors
As hex codes */
.color-normal { background-color: #90ee90; }
.color-dark { background-color: #1aa51a; }
.color-light {background-color: #a7f1a7; }
.color-very-light { background-color: #d3f8d3; }

body {
    font-family: Arial, Helvetica, sans-serif;
}

div.textfield {
    padding: 5px;
    overflow: auto;
    white-space: break-spaces;
}

#cardcontainer {
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
}

#cardprototype {
    display: none;
}

#fileSelector {
    display: none;
}

.card-title {
    flex: 2;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
}

.card-infobar {
    border-bottom: 1px solid black;
    /*border-top: 1px solid black;*/
}

.card-level {
    text-align: right;
}

.card-tags {
    /*margin-left: -0.5em;
    border-radius: 5px;
    z-index: 5;
    background-color: #a7f1a7;
    border: 1px solid #1aa51a;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 2px 0 rgba(0, 0, 0, 0.19);*/
}

.card-meta-data {
    flex: 2;
}

.card {
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid black;
}

.card-row {
    display: flex;
    width: 100%;
}

.card-description {
    width: 100%;

}

.card-level-label {
    border-width: 0;
    padding: 5px;
}

.trait {
    border: 1px solid black;
    margin: 3px;
    padding: 2px;
    background-color: #a7f1a7;
}

@media screen {
    button {
        border-width: 0;
        background-color: #90ee90;
    }
    button:hover {
        background-color: #d3f8d3;
    }

    button.remove-card {
        background-color: #ee9090 !important;
    }

    button.remove-card:hover {
        background-color: #f8d3d3 !important;
    }

    button.export-card {
    }

    .card {
        box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 2px 0 rgba(0, 0, 0, 0.19);
    }

    .card-toolbar {
        background-color: black;
    }
}

@media print {
    button {
        display: none;
    }

    .card {
        page-break-after: auto;
    }

    .card-toolbar {
        display: none;
    }
}
